html {
    scroll-behavior: smooth;
}

#contactMe {
    position: absolute;
    bottom: 10%;
    margin: auto;
    padding: 2em;
    clear: both;
    float: left;
    color: white;
}

#contactMeIcons i.fa,
#contactMeIcons i.fa-lg,
#contactMeIcons img {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.5em;
}

#contactMeIcons .fa-facebook-f {
    background-color: #1778F2;
    color: white;
}

#contactMeIcons .fa-twitter {
    background-color: #01AEEF;
    color: white;
}

#contactMeIcons .fa-linkedin-in {
    background-color: #007AB9;
    color: white;
}

#contactMeIcons .fa-github {
    background-color: #1B1F23;
    color: white;
}

#contactMeIcons .fa-gitlab {
    background-color: white;
    color: orange;
}

#contactMeIcons .fa-stack-overflow {
    background-color: white;
    color: #F48025;
}

#contactMeIcons .fa-envelope {
    background-color: #F84438;
    color: white;
}

#contactMeIcons .fa-medium-m {
    background-color: #000000;
    color: white;
}

#contactMeIcons .google-scholar {
    background-color: white;
}

.page-footer {
    background-color: #222222;
}

.footer-copyright {
    color: white;
}

.footer-copyright {
    font-size: 0.6em;
}


#seeMore {
    margin-top: 2%;
    clear: both;
    float: left;
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: 3;
}

@keyframes bounce {

    20%,
    53%,
    80%,
    0%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}